*{
    padding: 0;
    margin: 0;
}


.container {
    background-color: #141414;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: #1F1F1F;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.card-img {
    width: 60px;
    border-radius: 50%;
    margin: 15px;
}

.card-title {
    color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    margin-bottom: 5px;
}

.card-subtiltle {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 11px;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    color: hsl(75, 94%, 57%);
}

.card-para {
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 12px;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    margin-top: 15px;
    margin-bottom: 10px;
    color: white;
}

.link {
    background-color: #333333;
    color: white;
    margin: 8px;
    padding: 10px 80px;
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.link:hover {
    cursor: pointer;
    background-color: hsl(75, 94%, 57%);
    color: #1F1F1F;
}